<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login/Registration</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		{% load static %}
	    <link rel="stylesheet" type="text/css" href="{% static 'login_registration/css/main.css' %}">
	</head>
	<body>
		<div id='main'>
			<h1>Registration and Login</h1>

			<div class='container'>
				<h2>Registration:</h2>
				<div class='message'>	
		  	</div>
			<form action="/process" method='post' name='registration_form'>
				{% csrf_token %}
				<input type="hidden" name="action" value="register">
				<div class="form-group">
			    	<label for="first_name">First Name:</label>
			    	<input type="text" class="form-control" id="first_name" name="first_name" value='{{first_name}}'>
		  		</div>
		  		<div class="form-group">
			    	<label for="last_name">Last Name:</label>
			    	<input type="text" class="form-control" id="last_name" name="last_name" value="{{last_name}}">
		  		</div>
			 	<div class="form-group">
			    	<label for="email">Email Address:</label>
			    	<input type="text" class="form-control" id="email" name="email" value="{{email}}">
		  		</div>
			  	<div class="form-group">
			    	<label for="pwd">Password:</label>
			    	<input type="password" class="form-control" id="pwd" name="password">
			  	</div>
			  	<div class="form-group">
			    	<label for="pwd">Confirm Password:</label>
			    	<input type="password" class="form-control" id="pwd" name="confirm">
			  	</div>
			  	<button type="submit" class="btn btn-default">Register</button>
			</form>
			</div>
			<div class='container'>
				<h2>Login:</h2>
				<div class='message'>
				<form action='/login' method="post" name='login_form'>
					{% csrf_token %}
					<input type="hidden" name="action" value="login">
					<div class="form-group">
			    		<label for="email">Email Address:</label>
			    		<input type="text" class="form-control" id="email" name="email">
		  			</div>
			  		<div class="form-group">
			    		<label for="pwd">Password:</label>
			    		<input type="password" class="form-control" id="pwd" name="password">
			  		</div>
			  		<button type="submit" class="btn btn-default">Login</button>
			  	</form>
			  	{% if messages %}
					<ul class="messages">
				    	{% for message in messages %}
				    		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
					    {% endfor %}
					</ul>
				{% endif %}	
				
			  	
			</div>
		</div>
		
	</body>
</html>